
.post {
	list-style-type : none;
    border: bisque 8px;
    border-radius: 5vw;
    text-align: left;
    margin-bottom: 8px;
    margin-right: 40px;
    opacity: 0.78;
    color: #FFF;
    padding: 8px;
    position: relative;
  }

  @media (min-width:700px) {
    .post {
      width: 500px;
      text-align: center;
      margin-left: 100px;
    }
  }

    @media (min-width:1000px) {
    .post {
      width: 500px;
      text-align: center;
      margin-left: 300px;
    }
  }

  @media (min-width:1200px) {
    .post {
      width: 500px;
      text-align: center;
      margin-left: 400px;
    }
  }

.nopost {
	list-style-type : none;
    border: bisque 5px;
    border-style: double solid outset;
    border-radius: 15vw;
    text-align: center;
    display : none;
}

.submit-btn {
  border-radius: 20px;
  margin: 20px 0px 20px 0px;
  background-color: #626E60;
  width: 100px;
}

.Form {
  text-align: center;
  border: 2px solid #fff;
  border-radius: 70px;
  margin: 15px 100px;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #3C3C3C;
 /* opacity: 0.6;*/
  color: #000#FEF9C7;
}

@media (max-width: 800px) {
  .Form {
    width: 70%;
    padding: 10px 40px 5px 40px;
    margin-left: 15px;
    margin-top: 40px;
  }
}

@media (min-width: 600px) {
  .Form {
    border-style: none;
  }
}


h1 {
  text-align: center;
  color: #FFF3D9;
}

input {
  width: 70%;
  border-radius: 30px;
  border: 3px solid #3C3C3C;
  background-color: #626E60;
  opacity: 0.95;
  color: #fff;
  padding: 6px;
  margin-bottom: 7px;
}

@media (min-width: 800px) {
  input {
    width: 70%;
    margin-right: 30px;
  }
}
@media (min-width: 900px) {
  input {
    width: 60%;
    margin-right: 30px;
  }
}

@media (max-width: 800px) {
  input {
    width: 95%;
    
  }
}

label {
  width: 300px;  /* this needs to be in a media query */
  padding: 5px;
  text-align: center;
  color: #fff;
} 

@media(min-width: 700px) {
  label {
    width: 100px;
    margin-right: 100px;
  }
}

body {
  /*background-image: linear-gradient(to right, #7700FF , #0CAFE8);*/
  background-color: #3C3C3C;
  font-family: sans-serif;
  font-style: normal;
}

ul {
  text-align: center;
}

h3 {
  color: #fff;
}

::placeholder {
  color: #FFF3D9;
}

.no-italics {
    font-style: normal;   
}

summary::-webkit-details-marker {
  display: none
}
summary:after {
  background: transparent; 
  border-radius: 5px; 
  content: "+"; 
  color: #fff; 
  float: left; 
  font-size: 1.5em; 
  font-weight: bold; 
  margin: -5px 10px 0 0; 
  padding: 0; 
  text-align: center; 
  width: 20px;
}
details[open] summary:after {
  content: "-";
}

 .switchtype2  {
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      overflow: hidden;
      outline:none;
      border-radius : 20px;
      cursor : pointer;
      padding : 4px 5px;
      margin-top: 60px;
      margin-left: 3px;
      margin-right: 20px;
      position: absolute;
      right:    0;
      bottom:   0;
    }

     #switchtype1 {
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      overflow: hidden;
      outline:none;
      border-radius : 20px;
      cursor : pointer;
      padding : 4px 5px;
      margin-top: 60px;
      margin-left: 7px;
      margin-right: 55px;
      position: absolute;
      right:    0;
      bottom:   0;
    };




