
.post {
	list-style-type : none;
    border: bisque 8px;
    border: 2px solid #FFF3D9;
    border-radius: 15vw;
    text-align: center;
    margin-bottom: 8px;
    margin-right: 40px;
    opacity: 0.78;
    color: #FFF;
    padding: 8px;
}

.nopost {
	list-style-type : none;
    border: bisque 5px;
    border-style: double solid outset;
    border-radius: 15vw;
    text-align: center;
    display : none;
}

.submit-btn {
  border-radius: 20px;
  margin: 10px 0px 10px 0px;

}

.Form {
  text-align: center;
  border: 2px solid #fff;
  border-radius: 70px;
  margin: 6px 100px;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #000;
  opacity: 0.6;
  color: #fff;
}

h1 {
  text-align: center;
  color: #FFF3D9;
}

input {
  width: 70%;
  border-radius: 30px;
  border: 2px solid #FFF3D9;
  background-color: rgba(0,0,0,0.0);
  opacity: 0.95;
  color: #FFF;
  padding: 6px;
  margin-bottom: 7px;
}

body {
  background-image: linear-gradient(to right, #7700FF , #0CAFE8);
}

ul {
  text-align: center;
}

::placeholder {
  color: #FFF3D9;
}