
.post {
	list-style-type : none;
    border: bisque 8px;
    border: 2px solid #FFF3D9;
    border-radius: 15vw;
    text-align: center;
    margin-bottom: 8px;
    margin-right: 40px;
    opacity: 0.78;
    color: #FFF;
    padding: 8px;
}

.nopost {
	list-style-type : none;
    border: bisque 5px;
    border-style: double solid outset;
    border-radius: 15vw;
    text-align: center;
    display : none;
}

.submit-btn {
  border-radius: 20px;
  margin: 20px 0px 20px 0px;
  background-color: #FCE181;
  width: 100px;
}

.Form {
  text-align: center;
  border: 2px solid #fff;
  border-radius: 70px;
  margin: 15px 100px;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #9FEDD7;
 /* opacity: 0.6;*/
  color: #000#FEF9C7;
}

h1 {
  text-align: center;
  color: #FFF3D9;
}

input {
  width: 70%;
  border-radius: 30px;
  border: 3px solid #026670;
  background-color: #FEF9C7;
  opacity: 0.95;
  color: #000;
  padding: 6px;
  margin-bottom: 7px;
}

label {
  width: 300px;  /* this needs to be in a media query */
  padding: 5px;
  float: left;
} 

body {
  /*background-image: linear-gradient(to right, #7700FF , #0CAFE8);*/
  background-color: #026670;
}

ul {
  text-align: center;
}

::placeholder {
  color: #FFF3D9;
}